$orange: #ff4b1a;
$light-orange: #f58220;
$bright-yellow: #ffff00;
$burnt-yellow: #FFBA1F;
$vertical-border-yellow: #f4d24f;
$spring-green: #91cb58;  ;
$chartreuse: #31bc06;
$mid-green: #068e45;
$light-blue: #40cede;
$teal: #11a0ad;
$deep-teal: #028d9e;
$blue: #0074cc;
$black: #000;
$off-black: #262626;
$gray: #757e80;
$light-gray: #a7a9ac;
$off-white: #f9f8f8;
$white: #FFF;


