.side-bar-panel {
  background-color: rgba($teal,0.07);
}

@media #{$mobile} {
  .side-bar-panel {
    width: 10%;
  }
  .side-bar-content {
    width: 90%;
  }
}

@media #{$tablet} {
  .side-bar-panel {
    width: 30%;
  }
  .side-bar-content {
    width: 70%;
  }
}

@media #{$desktop} {
  .side-bar-panel {
    width: 20%;
  }
  .side-bar-content {
    width: 80%;
  }
}

.menu-list{
  li{
    @include rem(padding, 10px);
    border-bottom: 1px solid $teal;
    &.active {
      color: $white;
      background-color: rgba($teal,0.30);
      border-bottom: 1px solid transparent;
    }
  }
}